.gitignore
.vscode/
packetstructure.txt
Source\ClientApp\ClientApp.exe
Source\ClientApp\CMakeFiles
Source\ClientApp\cmake_install.cmake
Source\ClientApp\Makefile
Source\ClientApp\CMakeLists.txt
Source\ServerApp\CMakeFiles
Source\ServerApp\cmake_install.cmake
Source\ServerApp\ServerApp.exe
Source\ServerApp\Makefile
Source\ServerApp\CMakeLists.txt